<% provide(:title, "Help") %>

<h1>Help</h1>
<p id="help_sentence">I need somebody, not just anybody, you know I neeed someone</p>
<p>No useful information on this page</p>
<p>Still no information</p>

<style>
p {
    background-color : gray;
}
</style>
